# Practical Data Science Class For IRIS dataset

Here’s what we’ll cover in this class:

1.Obtain Free Dataset from sklearn
2.Slicing Your Data
3.Create a Dictionary Using the Dataset
4.Convert to Pandas Dataframe
5.Replace Numerical Values with Target Names
6.Write data to csv
7.Check dimension of the dataset
8.View data types
9.View summary of dataset
10.Check class distribution of data using group_by
11.Check Correlation between features
12.Check skewness of dataset

In [1]:
# 1.Obtain Free Dataset from sklearn

import sklearn.datasets as ds
iris = ds.load_iris()

In [2]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [3]:
# 2. Slicing Your Data
# Slicing simply means taking a subset of the dataset. The code below separates the dataset into columns:


iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [6]:
col0 = iris.data[:,0]
col1 = iris.data[:,1]
col2 = iris.data[:,2]
col3 = iris.data[:,3]

target = iris.target

In [8]:
iris_dict = {
             'Sepal Length':col0, 
             'Sepal Width':col1, 
             'Petal Length':col2, 
             'Petal Width':col3, 
             'Target':iris.target
            }

In [20]:
#4. Convert to Pandas Dataframe
import pandas as pd
iris_df = pd.DataFrame(data =iris_dict ) #the new dataframe is called iris_df.

In [22]:
iris_df

     Sepal Length  Sepal Width  Petal Length  Petal Width  Target
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [27]:
target_name = iris.target_names
target_name

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [28]:
#5. Replace Numerical Values With Text Target Names

#We would now have to replace the numerical values (0, 1, 2) with the actual names of the classes available in iris.
#target_names. The code below does that

# Replace Numerical classes with Target names
target = iris.target_names

iris_df.loc[iris_df['Target']==0, 'Target'] = target_name[0]
iris_df.loc[iris_df['Target']==1, 'Target'] = target_name[1]
iris_df.loc[iris_df['Target']==2, 'Target'] = target_name[2]

In [29]:
iris_df

     Sepal Length  Sepal Width  Petal Length  Petal Width     Target
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [30]:
#6. Write Pandas DataFrame to csv
#Now you can export this data as a csv in your local computer

iris_df.to_csv('irisCSV.csv') 
#It is saved in the same directory as the current notebook you are working with.

In [ ]:
#7. Check dimension of the dataset
#Dimension of the dataset is simply the number of rows and columns in the dataset. You get it using the shape method as shown below:
iris_df.shape

In [31]:
#8. View data types
#This means that you want to know the datatypes of the columns in your dataset. You get it using the dtypes method
iris_df.shape

(150, 5)

In [33]:
iris_df.dtypes

Sepal Length    float64
Sepal Width     float64
Petal Length    float64
Petal Width     float64
Target           object
dtype: object

In [37]:
#9. View summary of dataset
#We can get the summary statistics of our dataset. These statistics includes mean, count, etc


from pandas import set_option # allow us to set precision 
set_option('precision',4) # 4 means after point values

iris_df.describe()

       Sepal Length  Sepal Width  Petal Length  Petal Width
count      150.0000     150.0000      150.0000     150.0000
mean         5.8433       3.0573        3.7580       1.1993
std          0.8281       0.4359        1.7653       0.7622
min          4.3000       2.0000        1.0000       0.1000
25%          5.1000       2.8000        1.6000       0.3000
50%          5.8000       3.0000        4.3500       1.3000
75%          6.4000       3.3000        5.1000       1.8000
max          7.9000       4.4000        6.9000       2.5000

In [39]:
#10. Check class distribution of data using group_by
#The class distribution helps you to see the balance of the class values. 

iris_df.groupby('Target').size()

Target
setosa        50
versicolor    50
virginica     50
dtype: int64

In [41]:
#11. Check Correlation between features
#Correlation is the relationship between the variables in your dataset. 
#The values of correlation ranges from -1 (negative correlation) to 0 (no correlation) to 1 (positive correlation).

correlation = iris_df.corr(method = 'pearson')
correlation

              Sepal Length  Sepal Width  Petal Length  Petal Width
Sepal Length        1.0000      -0.1176        0.8718       0.8179
Sepal Width        -0.1176       1.0000       -0.4284      -0.3661
Petal Length        0.8718      -0.4284        1.0000       0.9629
Petal Width         0.8179      -0.3661        0.9629       1.0000

12. Check skewness of dataset
#Skewness of the data is the distribution of the data that is expected to be a normal distribution (Gaussian) but it appear distorted or shifted to either the left or the right.

In [43]:
iris_df.skew()

Sepal Length    0.3149
Sepal Width     0.3190
Petal Length   -0.2749
Petal Width    -0.1030
dtype: float64